.main {
    height: 644px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImg {
    z-index: -1;
}

.main .content {
    width: clamp(400px, 100%, 1100px);
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.main .content .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*MARGIN MISSING*/
}

.main .content .navigation nav {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    width: max-content;
}

.main .content .navigation nav li {
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8034ad;
    padding: 16px 0;
    width: 150px;
}

.main .content .navigation nav li:hover {
    background: #8034ad;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #eeeeee;
}

.titles h1 {
    height: 84px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 7px;

    color: #8034ad;
}

.titles h3 {
    height: 56px;
    margin: 0;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;

    color: rgba(128, 52, 173, 0.75);
}
